build/vscode/compile_commands.json
.cache
build
**/.DS_Store
compile_commands.json
.vs
/data
vcpkg_installed
vcpkgs-*
vcpkgs
.direnv
.devenv

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
